[2014-05-19 07:42] seryh opened #7 "Error for all methods, node -v – v0.10.28, OSX"
Mac-mini-seryh:~ seryh$ jira search 166

/usr/local/lib/node_modules/jira-cmd/lib/jira/ls.js:25
            return console.log(res.body.errorMessages.join('\n'));
                                                      ^
TypeError: Cannot call method 'join' of undefined
    at /usr/local/lib/node_modules/jira-cmd/lib/jira/ls.js:25:55
    at Request.callback (/usr/local/lib/node_modules/jira-cmd/node

[2014-08-21 05:46] generalov opened #11 "List issues by favorite filter"
I run `jira ls` and I get an error message that there is no value 'In Review' for field 'status'. Apparently this is due to a specific set of statuses in our Jira.

I have a filter 'My Issues' in Jira where the list of issues is configured. I found a temporary solution by replacing the `+ '+AND+status+in+(Open,"In+Progress",Reopened,"To+Do","In+Review")'`with `+ '+AND+filter=12308'` in the lib/jir

[2014-11-26 00:13] chrisdebug opened #18 "jira ls - List "New" issues"
Hi all!

When I execute "jira ls", I only see "In Progress" issues. Is possible to see "New" and "Closed" issues?

[2014-12-23 22:51] staxmanade opened #22 "Don't store passwords insecurely"
Could consider using a helper library like: https://www.npmjs.com/package/keytar or I'm sure there are others, but please consider not store user's passwords in a plain txt file...

[2015-04-02 22:05] mturquette commented on #18
Any update on this? I also get hit with:

[code]

[2015-04-06 11:35] germanrcuriel commented on #18
@mturquette I'm working on it, slower than expected because of work. Sorry :disappointed:

[2015-04-07 14:40] robmccoll commented on #18
@mturquette @germanrcuriel the problem seems to be how your Jira workflow is configured (specifically which states are valid for a given ticket).  You can hack this together somewhat manually by modifying the JQL queries in https://github.com/germanrcuriel/jira-cmd/blob/master/lib/jira/ls.js on 69 and 89 to reflect the names that your organization uses.  You may also want to change the state names

[2015-04-08 23:15] germanrcuriel commented on #18
Thanks for the feedback @robmccoll. The idea is to get the possible transitions (per project) and expose them in the config file. I'll notice you when ready.

[2015-05-01 14:26] drusellers opened #24 "worklogadd"
Would it be easy to add the date of a worklog?

[2015-05-01 14:37] drusellers commented on #24
I think it would be about here https://github.com/germanrcuriel/jira-cmd/blob/master/lib/jira/worklog.js#L17

and adding a parameter for `started`

[2015-05-01 15:16] drusellers commented on #24
`jira worklogadd <issue key> <time> <comment> <date performed (default is now)>`

[2015-05-01 18:10] drusellers commented on #24
For future reference: https://docs.atlassian.com/jira/REST/latest/#d2e1099

[2015-05-05 07:39] germanrcuriel commented on #24
Hi @drusellers! Thanks for the PR. I will check it out asap :smile:

[2015-05-12 03:41] #7 closed

[2015-05-13 16:38] igorescobar opened #26 "problems using it under a "hosted" jira"
Hi,

I'm not using a "cloud" version of Jira, here we have a hosted version and it's connected to Active Directory.

I've setup the correctly, answering all questions asked.

After running ```jira ls``` I got this error: ```UNABLE_TO_VERIFY_LEAF_SIGNATURE```. I could work around this issue by setting an env variable:
```export NODE_TLS_REJECT_UNAUTHORIZED=0```

Now I'm getting the error: ```AUTHEN

[2015-05-13 17:01] igorescobar opened #27 "The value 'In Review' does not exist for the field 'status'."
Turns you that you expect that a status called "In Review" here we only have To Do, In Progress and Done. Would be interesting if those status could be in a config file stored along with our credentials.

The only way to work around this issue is by changing the line:
```+ '+AND+status+in+(Open,"In+Progress",Reopened,"To+Do","In+Review")'```

[2015-05-13 17:29] igorescobar commented on #27
I could submit a PR that creates an attribute inside of the config.json called ```available_issues_statuses``` like:

[code]

The the end-user can configure by opening the ```~/.jira/config.json``` file.

What do you think?

[2015-05-13 17:29] igorescobar commented on #27
At leat it won't be hardcoded.

[2015-05-13 17:35] germanrcuriel commented on #27
HI @igorescobar! Yes, this is the same as #11 and #18. As far as I know, every project can have different statuses (transitions) and I need to figure out which is the best way to manage them.

Thanks for submitting the issue :)

[2015-05-13 17:39] germanrcuriel commented on #27
I mean, there is a [statuses](https://docs.atlassian.com/jira/REST/latest/#d2e421) API method that returns this data. A possible solution is to set up the project using a command (and for update if needed). Any ideas?

[2015-05-13 17:42] germanrcuriel commented on #26
I will try to find a solution. Thanks for submitting

[2015-05-13 17:43] #24 closed

[2015-05-13 17:44] igorescobar commented on #27
@germanrcuriel I think that we could run this command inside of the ```saveConfig``` method and store the data inside of the ```config.json``` file. I think that would be a nice improvement with minimal effort.

[2015-05-13 17:48] germanrcuriel commented on #27
@igorescobar yeah sure, but I want to remember that every single project can have different statuses. In my case, this is the problem, we have like 50+ projects and some of them have one or two different statuses. I think it's kind of complicated to set up a wizard the first time, maybe the best way to do it is to add a command that helps with that.

[2015-05-13 17:52] igorescobar commented on #27
@germanrcuriel

Another thought...
Even if we gather that info dynamically how can we decide which one is a valid transition to an specific scenario like the ```jira ls``` case?

it's an easy task getting all statuses... not that easy to dynamically decide which transition we should use for each case.

I don't know if you understood what I mean...

----

Do you use different transitions for each p

[2015-05-13 17:55] igorescobar commented on #27
In the ```jira ls -p [project]``` seems that what you intend to do is getting all issues which isn't Done,Completed or Resolved yet, right?

[2015-05-13 17:59] igorescobar commented on #27
Anyway... refactoring to store those hardcoded statuses to a ```config.json```  seems to be a more reasonable next step of keeping this data instead of keeping it hardcoded, right?

I think we could figure it out which is the next step after this "improvement".

[2015-05-13 18:01] igorescobar commented on #27
The way it is I can't share it with my co-workers and recommend its use.

[2015-05-13 18:05] germanrcuriel commented on #27
@igorescobar yeah, you're right. Maybe it's better to go step by step. If you can submit a PR with this improvement would be great. Thank you :)

[2015-05-13 18:06] igorescobar commented on #27
@germanrcuriel awesome ;)

[2015-05-13 19:23] igorescobar commented on #26
I don't know why but if I log out from the web interface and then log in again the jira-cmd ```AUTHENTICATION_DENIED``` error disappears O.O.

[2015-05-13 19:24] igorescobar commented on #26
But I still need the ```export NODE_TLS_REJECT_UNAUTHORIZED=0```

[2015-05-13 19:24] germanrcuriel commented on #26
Maybe is related with ActiveDirectory? Such a weird issue xD

[2015-05-13 19:33] dgmike commented on #27
:eyes:

[2015-05-13 19:34] germanrcuriel commented on #27
Fine :wink:

[2015-05-14 09:08] #27 closed

[2015-05-14 09:09] germanrcuriel commented on #26
LDAP authentication is working fine.

[2015-05-14 14:44] dahlbyk opened #29 "Config Upgrade Path"
Just tried out #28 locally and am getting:

[code]

Maybe provide a config upgrade path, @igorescobar?

[2015-05-14 14:48] germanrcuriel commented on #29
@dahlbyk this also happened to me. Just delete the config file and run the application. But yeah, I think user must be warned in case that the attribute `available_issues_statuses` doesn't exist in config file.

[2015-05-14 15:12] igorescobar commented on #29
What do you think:

[code]

[2015-05-14 15:38] igorescobar commented on #29
What about now?

[2015-05-18 15:26] igorescobar opened #31 "Default board functionality for jira sprint?"
Hi @germanrcuriel
Do you think that a feature like "default board" for `jira sprint` command would be useful?

My main goal here it's to make possible to just type `jira sprint` with no arguments.

The board would be inherited from the default_board option when there is no `-r` flag passed. Also the `-s`, when absent, we will assume that it would be the current active sprint.

In my scenario we on

[2015-05-18 17:59] igorescobar opened #32 "jira stop issue"
Seems like jira Agile doesn't have the transition "To Do". Te correct name for it would be "Stop Progress". So  the command jira stop doesn't work...

Sounds good to have a config like this:

[code]

What do you think?

[2015-05-18 21:14] igorescobar opened #34 "jira done improvements"
Hi @germanrcuriel I did a few improvements to jira done command but I'm going to wait for #33 to be ok to merge.

The feature that I'm going to introduce is the following:
![screen shot 2015-05-18 at 5 36 20 pm](https://cloud.githubusercontent.com/assets/24032/7689586/d30d5f4e-fd83-11e4-9a87-8e984229d0cd.png)

### Resolution
When ```-r``` is absent, the most relevant would be assumed as defined in

[2015-05-19 18:17] igorescobar commented on #26
Solved with the latest version

[2015-05-19 18:17] #26 closed

[2015-05-19 20:27] igorescobar commented on #34
Hello?

[2015-05-21 23:55] #34 closed

[2015-05-21 23:55] #32 closed

[2015-05-22 00:09] igorescobar commented on #31
What do you think about my suggestion? I can code it ;-D

[2015-05-22 11:08] germanrcuriel commented on #31
I have the same scenario than you so, I think it would be fine to include this suggestion. Go for it! :+1:

[2015-05-22 11:47] igorescobar commented on #31
Nice!

[]'s
Igor

[2015-08-13 01:55] wkoszek opened #35 "jira-cmd "create" doesn't work"
I do:

npm install -g jira-cmd
jira ls
<put pass/user/URL>
jira ls <- breaks because of "In Review" stage present in ~/.jira/config.json
<I edit ~/.jira/config.json and remove "In Review" stage>
jira ls <- starts to work fine.

Now I want to create a bug case:

$ jira create
Type the project name or key: CS
Type the parent task key (only the numbers) if exists, otherwise press enter:
(1) Bug
(2) N

[2015-08-13 02:00] wkoszek opened #36 "Worklogadd doesn't work"
The #35 lists my setup. Once I made jira-cmd work, I created the issue from the Web GUI.

It's called CS-519.

Next I do:

jira worklogadd CS-519 3h something

I don't see these changes reflected in the Web GUI. It seems like nothing has been changed. Output on the console:

wkoszek|19:07:07|0|/Users/wkoszek/.jira$ jira worklogadd CS-519 3h something
Worklog to issue [CS-519] was added!.

[2015-08-13 10:25] germanrcuriel commented on #35
Hi @wkoszek!

Thanks for all the issues reported. I'll take them a look as soon as possible :wink:

[2015-09-02 08:56] hardcore opened #38 "Error: got 403 response"
Hi,

I get a 403 error if I use "jira <any-command>"
How can I debug? :)

Thanks

[2015-10-01 07:49] mhogerheijde commented on #22
Consider using the same approach as Atlassians own `stash` command line interface (https://bitbucket.org/atlassian/stash-command-line-tools), they use a `passwordeval` parameter where the user can use his own flavour of encryption to store their passwords safely.

for example:
[code]

Where the user can use its own gpg keyring to decrypt a password safely stored in `~/.secret.gpg`.

[2015-10-01 07:50] mhogerheijde commented on #22
By the way: storing it as base64 does nothing and you're better off storing clear-text, so users _know_ their password is stored that way.

Or consider using `rot13`. And to be safe, lets use it twice..

[2015-10-14 06:32] mabahj opened #40 "Crash on empty field"
If I run "jira show -o duedate PRO-373" where PRO-373 has a due date, then this date is returned. If I then remove the due date from PRO-373 (or select another issue without due date), then jira-cmd crashes:

[code]

I have jira-cmd 0.4.1 and JIRA 6.3.13

[2015-10-15 13:09] mabahj commented on #40
Just noticed my jira-cmd is out of date so I updated to 0.5.1. Still getting the same error message.

(Note that this bug is rather minor from my point of view.)

[2015-10-26 07:46] germanrcuriel commented on #40
Thanks for the info @mabahj

[2015-11-13 15:34] CaptainQuirk opened #42 "jira done <issue> doesn't work"
Hi,

When calling `jira done <issue>`, I get no output whatsoever.

A query made with `jira jql` confirms that the task is still **In Progress**.

I can use **jira stop** and **jira start** correctly though

[2015-11-16 11:26] CaptainQuirk commented on #42
Hi,

What is actually misleading here, it that the __done__ status and the resolution itself are intertwined. I think you're assuming too much in terms of workflow. Ours is comprised of four stages, the latter one being __validated__ : tasks that were transitioned to __done__ by a developer then tested and validated by our __Product Owner__. We have a trigger in our board configuration to mark a t

[2015-11-16 15:10] germanrcuriel commented on #42
Yes, I know. I started this project assuming a workflow that doesn't suit for all the cases. I was thinking in do something like a config per project that you can set the workflow or statuses you want. Automating this is very hard and maybe a bit confusing but yes, that's the idea.

Unfortunately I don't have so much time to do it at the moment but I'm working on it as much as I can.

[2015-12-07 10:14] Komosa opened #43 "worklog doesn't work"
Hi, I encountered this problem with `worklog` subcommand:

[code]

BTW, Did you plan further development of this package?

edit: adding to worklog works

[2015-12-08 06:12] germanrcuriel commented on #43
Hi @Komosa. Thanks for opening the PR. And regarding the question... Yes, I do but sadly I don't have so much time to update this project and I didn't had for a long while.

[2016-05-06 14:10] coderofsalvation opened #46 "request: preset jql cmds"
couldn't find support for extending the commandset
So I fixed this for now using this bash-wrapper

[code]
## Example

[code]

but would be nice as a native feature

[2016-05-06 14:44] germanrcuriel commented on #46
Hey @coderofsalvation! Thanks for opening this issue :)

Maybe we can put it as a subcommand of `jql` instead for not adding more noise into the main commands. I really like the idea but this is going to be weird when you have access to more than a project, right?

Maybe another possibility is to create those "filters" in the config file so each individual can set their own. What do you think?

I

[2016-05-09 07:16] coderofsalvation commented on #46
Agreed, I didn't think about the multiple projects scenario.
I really like your approach.
It reminds me of git, which also has an 'aliases' section in its config file.

Just an idea, but we could specify an object like so:

    aliases = {
      "foo": ["jira","jql","somequery"]
    }

And then somehow populate the array into `process.argv`

[2016-07-20 20:36] Kshitij-Banerjee commented on #35
same here. does'nt work.

[2016-07-21 14:25] dangolant-salesforce opened #48 ""can't set raw mode on non-tty" when adding username"
When I run `jira` and try to input my username, I get back the error:

[code]

[2016-07-27 18:52] germanrcuriel commented on #48
Hi @dangolant-salesforce! I will try to have a look into this. This is happening under windows, right? Which terminal emulator are you using?

[2016-07-27 18:54] blackbetty commented on #48
I tried in Git Bash and standard CMD.  I tried to fix it, but couldn't find where it occurs, it looks like there's a deprecated method being used.

[2016-07-27 19:00] germanrcuriel commented on #48
@blackbetty Probably it is. I didn't use it for a while (node 0.10)

[2016-08-04 09:44] yaronuliel opened #49 "jira comment return success, but comment isn't posted"
Running
`jira comment STH-100 "Some comment"` yields a `Comment to issue [STH-100] was posted!.` but the comment doesn't show on Jira, and the comment count on `jira show [STH-100]` doesn't doesn't change

[2016-09-01 11:05] fergalddaly commented on #48
Hi,

I have exactly the same issue when I tried to run it today.
I am on windows using cygwin.

Any ideas why this is occurring ?

Thanks,
Fergal.

[2016-09-18 19:33] micrub opened #51 "Changing config on existing profile error"
[code]

[2016-09-18 20:02] germanrcuriel commented on #51
Hi @micrub. Thanks for opening this issue!

Can you provide more details? I just tried it and everything works correct in my case.

If you got a 401 response that means you've provided bad credentials. I tried the same as you pasted and after removing the config file I can't reproduce that `[TypeError]`.

Can you share your node.js/npm version and OS?

Thanks

[2016-09-18 20:16] micrub commented on #51
@germanrcuriel **Big thanks** for really useful cli tool! It seems that issue happens when `~/.jira/config.json` contains non valid token caused by some bug in authentication process handling, which allows to save non valid token. When you remove the file and authenticate properly, in my case my password was actually wrong and changed it, it works well. Try to authenticate with wrong password whil

[2016-09-19 01:00] germanrcuriel commented on #51
@micrub Oh, I will try that then. Not a big issue but this is something that should be fixed. Thanks :)

[2016-09-20 07:15] micrub commented on #51
@germanrcuriel True. Not major, but can confuse user.

[2016-10-19 17:23] angelacode opened #52 "How do I review comments, make a comment, and create a ticket to a given Epic?"
How do I review comments, make a comment, and create a ticket to a given Epic?

[2016-10-19 17:26] angelacode opened #53 "When I go through create flow...I don't receive the JIRA ticket back...."
When I go through create flow...I don't receive the JIRA ticket back....I went through the whole flow but I don't know if it worked or not because I don't get back a ticket.

[2016-10-21 13:16] joe-askattest commented on #48
I also had this issue.

The error is inside commander with the section of code ...

[code]

I am using node 6.9.0, and it seems neither process.stdin (which is a Reader) and tty have `setRawMode` anymore.

Currently jira-cmd is using commander version 1.1.1, but the latest version is 2.9.0. So I believe the solution might be to update to a more recent version of commander.

[2016-10-27 20:33] a-c-m commented on #38
I hit this too. On inspection i was getting :
`'x-authentication-denied-reason': 'CAPTCHA_CHALLENGE;....`

So i cleared tokens in jira `Remember My Login: 	Clear All Tokens` and then deleted the `~/.jira/config.json` then re authenticated... that seemed to fix it.

Hope this helps.

[2016-10-28 09:45] germanrcuriel commented on #38
Thanks @a-c-m. That's probably the issue. Obviously we can't deal with captchas haha. I will look into jira API and see if we can clear tokens through it.

[2017-01-24 13:39] timborn commented on #48
Swapping in Commander 2.9.0 doesn't quite solve it:

[code]

[2017-07-06 16:31] palashkulsh commented on #42
Changing resolution is breaking in my case too, I can raise a PR to ignore resolution by default. @germanrcuriel

[2017-07-26 10:21] jrschumacher opened #56 "Option to output as json"
Is there an option to output content as json rather than in an ascii table?

[2017-07-26 10:43] germanrcuriel commented on #56
Hi @jrschumacher! No, there's no support for that yet sorry.

[2017-07-28 13:59] tibu commented on #56
Hi @germanrcuriel ,

I'd be happy to add JSON as output format.

What do you think about adding an option --format which could be json and later others too live csv?

[2017-07-31 10:04] germanrcuriel commented on #56
@tibu Sure! It would be a nice feature!

[2017-08-13 22:35] germanrcuriel commented on #53
Sorry for the long delay @angelacode. I will mark this as a bug for now

[2017-08-13 22:36] germanrcuriel commented on #52
I believe you can use `jira show PR-1` being `PR-1` the epic name/number

[2017-09-14 18:45] jbcoder opened #57 "ECONNREFUSED"
When I run any command correctly, I'm getting the following error:
[code]

Do I need to need to enable anything in Jira to allow secure requests?

[2017-09-27 13:32] hugodahl opened #59 "Configuration should be stored in the user's profile directory"
For Windows environments, the configuration file(s) should be stored in the user's profile directory, be it the local or roaming profile. These would be the `APPDATA` environment variable (roaming profile, can be "transported" across PCs) or the `APPDATALOCAL`, which is the user's machine-specific profile directory.

In Windows, the `HOME*` environment variables (`home`, `homedrive`, `homepath`, `

[2017-09-27 13:41] hugodahl commented on #59
I've double checked, and for Windows 10 (at least) accounts which are not authenticated by AD, the `homedrive` and `homepath` are actually populated, and combined resolve to the same path as the `userprofile` environment variable. This means that for non-AD user accounts, the configuration file would go to the machine specific user profile directory, which is not the same as the machine specific a

[2017-10-27 08:58] harry-chin opened #60 "How to add line break and special character on log work?"
Thanks for this tool. It is really handy and saved my time.

I've successfully logged my work and time.

I usually write my task in detail using line break and '-' character, but I found I can't use them.
Is there any solution for this?

One more question, what is date format for start date?

Thanks!

[2017-10-27 21:30] GeekMustHave commented on #49
I am experiencing the same thing, is it something to do with permissions.  I'm the admin so I should be able to do this?

[2017-12-06 14:35] mabahj commented on #49
Same issue here

[2018-01-27 05:40] palashkulsh commented on #46
@coderofsalvation I've added preset command support in my fork https://github.com/palashkulsh/jira-cmd/ . There you can save frequently used commands in config and call them via jira jql -c ALIAS . Let me know if its a useful functionality and I will raise the PR for it here.

[2018-01-27 07:45] palashkulsh commented on #46
@coderofsalvation I forgot that I've already merged that PR here. The functionality is available as jira jql -c reported . Your alias must be saved in config.json as
         custom_jql:{
          reported: "reporter=currentUser() and status not in ('Done')"
        },

you can add your jql in the custom_jql block in config.json along with your alias as key which it should be called with.

[2018-01-27 07:48] palashkulsh commented on #18
rich listing can be obtained using custom saved . The functionality is available as jira jql -c reported . Your alias must be saved in config.json as
custom_jql:{
reported: "reporter=currentUser() and status not in ('Done')"
},

you can add your jql in the custom_jql block in config.json along with your alias as key which it should be called with.

[2018-02-01 18:18] dgolant opened #64 "`jira ls` returns no issues (incorrectly)"
`jira ls` returns no issues, despite the fact that my user has issues assigned to me.

[2018-03-01 18:52] catskul opened #65 "Support 2 factor auth"
Tried logging in and it asked for a password which I gave. Never asked for a 2fa token. Fails with "Error: got 401 response" on attempt at `ls` cmd.

[2018-04-06 02:49] palashkulsh commented on #64
@blackbetty it may be due to the status they  are in, by default jira ls returns all issues assigned to current user which are in status mentioned under available_issues_statuses in ~/.jira/config.json . you can add more status in config.json as per requirement

[2018-04-06 02:53] palashkulsh commented on #59
@hugodahl I'm not well versed with windows fs. what I get from your comment is  that we should use appdata /or/ localappdata or userprofile instead of HOMEPATH env variable which we currently use on windows platform?

[2018-04-06 02:56] palashkulsh commented on #57
@che-wf are you still getting the error. ECONNREFUSED

[2018-04-06 03:00] hugodahl commented on #59
@palashkulsh That is correct. Any of those 3 environment variables would be suitable for Windows environments.

[2018-04-06 03:06] palashkulsh commented on #59
@hugodahl cool, I can raise the PR in here right away, but German seems to be a bit busy these days. Another of my PR is still pending review here. I can add add that feature in my fork right now as well, which i mantain.

[2018-04-08 13:35] germanrcuriel commented on #59
@palashkulsh Do you want to be a contributor in this repo? Yeah, unfortunately I'm a bit busy this year but I really want to keep this project up.

[2018-04-08 17:06] palashkulsh commented on #59
@germanrcuriel that would be my pleasure , I use jira-cmd daily for my office work, and have added tons of functionality to the fork. would absolutely love to keep up this project.

[2018-04-09 07:39] palashkulsh opened #66 "forward vision / guidelines for jira-cmd project"
@germanrcuriel thanks for adding me as a contributor, can you please share your vision for this project, and things I should keep in mind in general.

the things on top of my head are
1) stable updates.
2) more functionalities

[2018-04-10 10:36] palashkulsh commented on #60
Hey @harry-chin , apologies for delayed response, can you please share the commands you are using to add work log, may be i can come up with something.

[2018-04-10 10:37] palashkulsh commented on #53
did you resolve it or is it still problematic.

[2018-04-10 10:39] palashkulsh commented on #29
If you are still facing the issue please feel free to reopen the issue, and we'll solve it together : ) .

[2018-04-10 10:39] #29 closed

[2018-04-10 12:27] palashkulsh commented on #66
@germanrcuriel  thats way too cool, in coming weeks , I'll be raising & merging PRs for new functionalities I've added in my fork . then will start working on adding new functionalities .

[2018-04-10 12:27] #66 closed

[2018-04-10 12:58] germanrcuriel commented on #66
Nice!

[2018-04-11 05:32] schamic commented on #66
@germanrcuriel, @palashkulsh : I'm putting this work to good use as well and would love to see it take on more life.  Simply put, one of my top wishes would be to afford the user the ability to add or subtract labels to/from an issue.

[2018-04-17 15:00] palashkulsh commented on #66
sure, let me know your findings.

[2018-05-17 03:04] #64 closed

[2018-05-17 03:06] palashkulsh commented on #60
If you are still facing the issue please feel free to reopen the issue, and we'll solve it together : ) .

[2018-05-17 03:06] #60 closed

[2018-05-17 03:06] palashkulsh commented on #59
If you are still facing the issue please feel free to reopen the issue, and we'll solve it together : ) .

[2018-05-17 03:06] #59 closed

[2018-05-17 03:07] palashkulsh commented on #51
If you are still facing the issue please feel free to reopen the issue, and we'll solve it together : ) .

[2018-05-17 03:07] #51 closed

[2018-05-17 03:07] palashkulsh commented on #43
If you are still facing the issue please feel free to reopen the issue, and we'll solve it together : ) .

[2018-05-17 03:07] #43 closed

[2018-05-17 03:08] palashkulsh commented on #42
If you are still facing the issue please feel free to reopen the issue, and we'll solve it together : ) .

[2018-05-17 03:08] #42 closed

[2018-05-17 03:08] palashkulsh commented on #48
If you are still facing the issue please feel free to reopen the issue, and we'll solve it together : ) .

[2018-05-17 03:08] #48 closed

[2018-05-17 03:08] palashkulsh commented on #40
If you are still facing the issue please feel free to reopen the issue, and we'll solve it together : ) .

[2018-05-17 03:08] #40 closed

[2018-05-17 03:09] palashkulsh commented on #49
If you are still facing the issue please feel free to reopen the issue, and we'll solve it together : ) .

[2018-05-17 03:09] #49 closed

[2018-05-17 03:10] palashkulsh commented on #53
If you are still facing the issue please feel free to reopen the issue, and we'll solve it together : ) .

[2018-05-17 03:10] #53 closed

[2018-05-17 03:10] palashkulsh commented on #36
If you are still facing the issue please feel free to reopen the issue, and we'll solve it together : ) .

[2018-05-17 03:10] palashkulsh commented on #38
If you are still facing the issue please feel free to reopen the issue, and we'll solve it together : ) .

[2018-05-17 03:10] #38 closed

[2018-05-17 03:11] #36 closed

[2018-05-17 03:12] wkoszek commented on #36
@palashkulsh I have moved to another position where we don't use JIRA anymore, so I don't have a way to test it. Thanks for replying.

[2018-05-17 03:12] palashkulsh commented on #46
functionality was added in jira jql "jql command or alias saved in ~/.jira/config.json"
Please feel free to raise a ticket if you are facing any problem.

[2018-05-17 03:12] #46 closed

[2018-05-17 03:13] palashkulsh commented on #18
this functionality can be achieved using jira jql functionality. Closing this for now. Please feel free to reopen or create new ticket.

[2018-05-17 03:13] #18 closed

[2018-05-17 03:13] palashkulsh commented on #11
this functionality can be achieved using jira jql functionality. Closing this for now. Please feel free to reopen or create new ticket.

[2018-05-17 03:13] #11 closed

[2018-05-17 03:15] palashkulsh commented on #52
If you still require the functionality please feel free to reopen the issue, and we'll solve it together : ) .

[2018-05-17 03:15] #52 closed

[2018-05-17 03:18] palashkulsh commented on #36
no problemo @wkoszek  .

[2018-05-25 07:38] #65 closed

[2018-05-25 07:42] palashkulsh commented on #22
Will be glad to pick this up if get enough [around 10ish] views from currently active users.

[2018-05-25 07:42] #22 closed

[2018-05-25 07:43] palashkulsh commented on #31
Will be glad to pick this up if this functionality is still required. Please feel free to reopen it.

[2018-05-25 07:43] #31 closed

[2018-05-25 07:48] palashkulsh opened #70 "publish on npm"
hey @germanrcuriel , I've bumped a major version, need your help in publishing on npm.

[2018-05-27 17:46] germanrcuriel commented on #70
Done! Sorry for the delay

[2018-05-27 17:46] #70 closed

[2018-05-27 17:49] palashkulsh commented on #70
thanks

[2018-06-14 19:06] longtth opened #71 "[Cancelled] Confirm about "jira ls, jira running""
What is your jql for `jira ls` and `jira running`?
I have alot of issue in my projects but when I run `jira ls` or `jira running` in terminal it return

Even when I run `jira jql reported` with the builtin `reported` jql query, it return `No issues` but if I copy&paste the reported jql to web and click search, it return many (2345 issues)
Here is my setting in `config.json` and my issues in server

[2018-06-16 04:15] palashkulsh commented on #71
There can be 2 cases
1. Your authentication may not be working.
2. may be jql is not running properly with given status.

Unfortunately I'm out of town right now with no laptop. Ill check by Tues.

On Fri, Jun 15, 2018, 12:36 AM Long Nguyen Xuan <notifications@github.com>
wrote:

[2018-06-18 12:36] palashkulsh commented on #71
can you please share the response of
jira jql "assignee=currentUser()"

Is it showing any output or is it still showing no issues

[2018-06-18 16:07] longtth commented on #71
It's `No issues`
[Imgur](https://i.imgur.com/hjp8m9v.png)

[2018-06-18 16:19] longtth commented on #71
Is there anyway to check and confirm that I could successfully login from `jira-cmd`?

[2018-06-18 16:31] longtth commented on #71
It works now! The `no issues` problem might come from my wrong login information,
Thanks for your feedbacks!
[Imgur](https://i.imgur.com/mxJz9Ol.png)

[2018-06-19 06:32] palashkulsh commented on #71
Great, your issue was solved by clearing the config and re authenticating it. Please feel free to report any issue or a new thing you would like in jira cmd .

PS. I would be picking that issues.split error you pasted. Its been in the pipeline for some time now.
Will be closing this thread now, feel free to reopen it.

[2018-06-19 06:32] #71 closed

[2018-08-14 09:59] JacopKane opened #72 "Installing it with yarn leads to a crash on it's initial run"
Happens on the first run.

[code]

[2018-08-14 10:04] JacopKane commented on #72
Apparently, it's working fine when installed with `npm` but `yarn`

[2018-08-14 14:12] palashkulsh commented on #72
I haven't tried installing it with yarn, did you find anything useful?

[2018-08-23 12:07] palashkulsh commented on #72
@JacopKane still facing the issue?
If you are still facing the issue please feel free to reopen the issue, and we'll solve it together : ) .

[2019-05-30 07:20] palashkulsh commented on #56
this has been done with
jira jql -j 1  "reporter=currentUser() and project='MMA'"

but somehow piping it to jq doesn't work with error
parse error: Unfinished JSON term at EOF at line 1565, column 4

[2019-06-26 18:16] DeBraid opened #75 "jira ls No issues"
[code]

Then, config per steps:
[code]

Then:

[code]

[code]
Previously (yesterday), this was working fine.  I even uninstalled via `npm` and `rm -rf ~/.jira/config.json`.  Same results, `No issues`.

It appears the `callback`  in `setConfig` is `undefined` at `jira-cmd/lib/auth.js:63:24`:

[code]

I love this CLI tool, any tips on how to debug?

[2019-06-26 18:30] palashkulsh commented on #75
hey @DeBraid let me check this and get back to you in few minutes.
Its really encouraging to hear such nice words regarding this jira-cmd from you :)

[2019-06-26 19:00] DeBraid commented on #75
I'd PAY monthly for this tool.  This repo is a startup waiting to happen ;).  It makes my life much easy, thank you for maintaining!

On serious note:

I reset my password to sanity check that portion, and same errors / situation as described in op.

[2019-06-26 19:44] palashkulsh commented on #75
Actually jira config is infrequently used functionality. IT was broken. Because finalCb function was not passed to clearly exit it. I will be raising the pull request very shortly. you can take a look in it.

[2019-06-26 20:01] palashkulsh commented on #75
fixed in this pull request https://github.com/germanrcuriel/jira-cmd/pull/76

[2019-06-27 04:39] palashkulsh commented on #75
While i was working on the fix, I missed your reply on the issue. A big thank you for your kind words @DeBraid . I never thought about monetizing from this. And to be honest don't know what the business model would be for an npm module.

Also on the side note have you tried out the new functionalities I've added in the jira-cmd

Some of them are

1 ) Jira issue templates -  using templates you can

[2019-06-27 04:42] palashkulsh commented on #75
If you use bitbucket, you can checkout https://www.npmjs.com/package/cmd-bitbucket for creating and managing Pull requests. It also saves me a lot of time like jira-cmd.

[2019-06-27 17:43] DeBraid commented on #75
[code]

Fresh install of updated package, but same output.

`$ cat ~/.jira/config.json | head | pbcopy`

outputs:

[code]

[2019-06-27 18:43] palashkulsh commented on #75
that seems like because available_issues_statuses in config.json does not have status in which your issues are currently in. Can you please check a status of your issue in jira and make sure its present in available_issues_statuses array. Please Let me know if it works.

[2019-06-27 20:23] DeBraid commented on #75
[code]

Hmm, all fields in `available_issues_statuses` are valid in our JIRA project.  I removed all the non-matching fields too, both states, same output:

[code]

Also, with jql:

[code]

[2019-06-28 04:31] palashkulsh commented on #75
can you please add console log on line 36 in jira-cmd/lib/jira/ls.js like given below

          .end(function (res) {
            console.log(JSON.stringify(res,null,4))
            if (!res.ok) {
              return callback((res.body.errorMessages || [res.error]).join('\n'));
            }

and share the result after  running
node jira-cmd/bin/jira.js ls

[2019-07-02 08:02] palashkulsh commented on #75
If you are still facing the issue please feel free to reopen the issue, and we'll solve it together : ) .

[2019-07-02 19:37] DeBraid commented on #75
`AUTHENTICATED_FAILED`

Hmm...  I have completed the password reset process recently, but I also re-did the config several times.

[2019-07-03 08:03] palashkulsh commented on #75
is it resolved now or are you still facing the problem. Please feel free to reopen the issue.

[2019-07-03 13:29] DeBraid commented on #75
Same issue.  I am not able to Authorize my account (despite having been previously authorized and happily using the tool).  Can replicate on 2 machines.  Have reset my password several times, tried all variants of my username/email.

My `~/.jira/config.json` has a token, but when debugging per instructions above, I get a `401` Unauthorized error in the console.

[2019-07-03 15:00] germanrcuriel commented on #75
Just had the same issue with the way we are generating the Basic Auth header. Can you please generate yours here https://www.blitter.se/utils/basic-authentication-header-generator/ and put it into the `~/.jira/config.json` file?

[2019-07-03 16:09] DeBraid commented on #75
[code]

Same outputs with the manually generated token.

[2019-07-04 08:56] germanrcuriel commented on #75
@DeBraid Thanks for your reply. Just to discard things, can you try to log in a regular way through the web interface and then try to use the CLI again? Is the same error happening?

[2019-07-04 16:46] DeBraid commented on #75
@germanrcuriel Same results.  I logged in / out via GUI 2x just now successfully.  Copy/pasted user/pw to ensure consistency.

GUI working.  Still 401 with `jira-cmd`.

[2019-07-04 19:00] palashkulsh commented on #75
@DeBraid are you getting the captcha everytime you login via gui?
I know its not feasible to share credentials , but if it is i can dig in further.

[2019-07-08 17:09] jnewton03 commented on #75
@palashkulsh I am also getting a 401.  Is it possibly related to this?
https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-basic-auth-and-cookie-based-auth/

[2019-07-08 17:18] palashkulsh commented on #75
@jnewton03 that seems so point on. I might not be getting 401 because i am using jira hosted on our servers. and this change seems to be for cloud hosted providers. Can you please confirm if you are also using atlassian hosted jira or is your jira hosted on your servers. Post confirmation I will start working on making requisite changes.

[2019-07-08 17:21] jnewton03 commented on #75
@palashkulsh we are using Jira Cloud (hosted)

[2019-07-08 17:32] palashkulsh commented on #75
@jnewton03 can you please try creating an api token and reset the config and entering token instead of password. Its mentioned here https://confluence.atlassian.com/cloud/api-tokens-938839638.html last paragraph

[2019-07-08 17:38] jnewton03 commented on #75
@palashkulsh that did the trick!  Originally I had just tried to edit the config.json file and replacing the token with my api token, but that didnt work.  However, clearing config and then re-running jira config and using api token instead of password fixed the issue.

[2019-07-08 17:40] palashkulsh commented on #75
@jnewton03 thats so great thanks for helping out.
@DeBraid can you please try using api token instead of password with jira config reset https://confluence.atlassian.com/cloud/api-tokens-938839638.html  .

Order of the world has been restored 😝

[2019-07-08 17:46] jnewton03 commented on #75
@palashkulsh that's great!  I would recommend updating the verbiage and documentation to reference API key instead of password.  Should clear up any confusion :) . Thanks so much!

[2019-07-08 17:52] palashkulsh commented on #75
@jnewton03 sure will do that.creating a jira for that.

[2019-07-08 17:53] palashkulsh opened #78 "update documentation to use api token instead of password"
update the documentation to use api token instead of password.

[2019-07-08 20:11] DeBraid commented on #75
@jnewton03 @palashkulsh I'm back in the game!  Thanks for the help.  All good on my end.

[2019-07-09 02:13] palashkulsh commented on #75
Thats great !!

On Tue, Jul 9, 2019, 1:41 AM Derek Braid <notifications@github.com> wrote:

[2019-07-09 07:39] palashkulsh commented on #75
Please let me know if any functionality is needed in jira-cmd. we can triage and develop it.
closing this now.

[2019-07-09 07:39] #75 closed

[2019-07-11 04:59] palashkulsh opened #84 "publish on npm"
hi @germanrcuriel can you please publish fresh on npm.
Thanks

[2019-07-11 20:13] DeBraid opened #86 "Customize jira jql output columns"
If I visit foo.atlassian.net/issues/?filter=10062 I can write some JQL in the GUI.  I can also select the columns which get displayed.

I would like to likewise set the output columns.  Currently the output columns are:

[code]

Say I want to include `Epic Link` and `Assignee` here, how would I do this?  If you point to a starting point in the codebase I can probably create PR to add this function

[2019-07-12 04:35] palashkulsh commented on #86
Hi @DeBraid , coincidentally @mederel raised a PR with the same functionality and its merged now. You can take a latest pull and run jira ls. then list_issues_columns key will be added in your config.json, voila you are good to go. sky is the limit.

[2019-07-12 04:38] palashkulsh opened #87 "Document customisable columns in jira listing"
We need to document customisable column support added by @mederel in this PR https://github.com/germanrcuriel/jira-cmd/pull/79 so that new and existing users find it easy to use this functionality.

@mederel would you like to help in this?

[2019-07-12 05:53] RichardBronosky commented on #56
@palashkulsh I figured out the reason for the jq error. It's caused by a common issue with node cli scripts that make async network calls. If the script calls `process.exit()` before the output buffer is emptied, pipes get closed (usually at 64k). You can compare these 2 commands:

[code]
as a result, you can `jq . < /tmp/1.json` but not `jq . < /tmp/2.json`

commenting out [line 37 in bin/jira.js

[2019-07-12 06:05] palashkulsh commented on #56
Awesome !! thanks @RichardBronosky it works. Before pushing this change I am thinking what would be the downside of not doing process.exit(0) . any thought?

[2019-07-12 07:58] RichardBronosky commented on #56
I'm not sure about downsides. Based on https://github.com/nodejs/node/issues/3669#issuecomment-153920709 and https://github.com/nodejs/node/issues/2972#issuecomment-146078649 (both comments by the same user, mind you) seems like the downsides are on **using** it.

I'm looking into https://github.com/nodejs/node/issues/6456 to see what other option there is.

Also, I have a PR coming that adds the

[2019-07-12 08:19] palashkulsh commented on #56
will be removing the exit part.
Also just fyi you can jira jql <ALIAS> functionality to have jira ls on steroids.

[2019-07-12 08:25] #56 closed

[2019-07-12 08:47] RichardBronosky commented on #56
My PR https://github.com/germanrcuriel/jira-cmd/pull/89 uses the nodejs/node#6456 method instead of the change you made (at my indication) in https://github.com/germanrcuriel/jira-cmd/pull/88 I don't care which way you address the buffer issue. I can modify my branch if you want to keep your change. Just let me know.

[2019-07-12 08:52] palashkulsh commented on #56
Surething @RichardBronosky , will let you know. Due to some time crunch for next 4-5 hours, will test post that.

[2019-07-12 12:47] mederel commented on #87
Yes definitely. Will work on it when I have a minute.

[2019-07-12 14:59] #87 closed

[2019-07-12 15:22] palashkulsh commented on #86
Closing this issue for now, @DeBraid please let me know if the newly added functionality suits your purpose, if not then we can work on improving it together.

[2019-07-12 15:22] #86 closed

[2019-07-12 15:57] palashkulsh commented on #87
Great changes @mederel , thanks a ton!!

[2019-07-17 03:19] jamesla opened #91 "jira ls - no issues"
I am also getting the "no issues" bug when running
[code]
I saw that there is another recent similar issue that was closed 8 days ago here https://github.com/germanrcuriel/jira-cmd/issues/75 however the fix won't work for me since we are using a hosted jira so the link on how to get the token is not relevant.

Any ideas how I can get this tool working?

[2019-07-17 04:15] palashkulsh commented on #91
@jamesla were you using this tool earlier or are you a new user
Can you please try following things.

1. Please make sure you have https in your config url if you are using https in hosted environment.
2. Can you please try logging in from the web and then try logging in to jira-cmd, i have seen many times that when web starts showing captcha for verification then jira-cmd stops authenticating.

P

[2019-07-17 04:26] jamesla commented on #91
Hey Palashkulsh, I'm a new user, the url does have https in it, and I can login directly without any captchas etc showing up

[2019-07-17 04:43] palashkulsh commented on #91
no problem, can you please confirm your username by going to your profile in jira web and seeing your username against username somewhat like this

![image](https://user-images.githubusercontent.com/5735087/61347640-501c8180-a87b-11e9-97a7-30b085861eb8.png)

Above user has username as onkar.chand .

I am asking this web login can take both email and username but cmd login only takes username.

Ple

[2019-07-17 04:48] jamesla commented on #91
yep username is identical, have tried with domain\ and without the domain infront

[2019-07-17 04:53] palashkulsh commented on #91
Cool, please wait for just 3-5 minutes, I will share a debug branch with you so that we can find the exact error occuring.

In the meanwhile can you please do the following
copy the token value from ~/.jira/config.json
and then run the following command (if you are on linux/unix)
echo "YOUR_TOKEN" | base64 -d

I am not sure about windows so you can use this https://www.base64decode.org/ to decode

[2019-07-17 05:11] palashkulsh commented on #91
facing some issue. will update asap.

[2019-07-17 05:22] palashkulsh commented on #91
while testing the issue i deliberately changed my token to something random and tried few times. I also started getting no issues.
After some time jira started asking me to login again on web as well due to incorrect attempts.

I have pushed the logging changes in master
can you please do a fresh install by
npm i -g https://github.com/germanrcuriel/jira-cmd

and then run jira ls and share the erro

[2019-07-17 06:09] jamesla commented on #91
Ok thanks for the patch the error is a 403. I logged off and logged in via web gui and there actually is a corporate login page that sits infront of our Jira so I might be out of options. I presume there isn't an alternative way to login with a token or something?

[2019-07-17 06:17] palashkulsh commented on #91
so do you have jira login password or is everything proxied via corporate page.

[2019-07-17 06:22] palashkulsh commented on #91
are you getting an option to generate tokens in your profile section?

[2019-07-17 06:35] jamesla commented on #91
Corporate login page appears to handle auth and regular login mode is disabled. That would explain the 403!

Looks like I am stuck then. Thanks for all your help!

[2019-07-17 06:35] #91 closed

[2019-07-17 06:36] palashkulsh commented on #91
That really sucks. I'll try to find any work around and will let you know if i find any.

[2019-08-14 07:15] bartmoc opened #92 "jira ls - no issues => implement better error handling"
Just installed jira cmd
and jira ls gives me `no issues`.
I'm using jira cloud (not hosted jira).
I guess that something is happening under the hood but no error is thrown so I can tell what is the cause.
[code]

[2019-08-14 09:32] palashkulsh commented on #92
hey @bartmoc can you please check in the jira panel if you actually have any issues with the status mentioned in ~/.jira/config.json in the array **available_issues_statuses** .

If you have no issues there then you can add the required status in available_issues_statuses to get those issues in jira ls.

If you have issues in the available_issues_statuses statuses , then it must be an auth issue.

[2019-08-14 09:39] bartmoc commented on #92
Looks like auth issue:
[code]
When logging via the web browser I'm not using OAuth (like google auth), I'm using username and password.

[2019-08-14 10:18] bartmoc commented on #92
@palashkulsh If it's an auth issue, is there a way to enable more verbose (more logs) mode, so I can find out what is happening?

[2019-08-14 10:20] palashkulsh commented on #92
sure, let me share a branch with you which can enable more verbose logs. give me 5 mins.

[2019-08-14 10:22] palashkulsh commented on #92
can you please check if your token is correct. by **echo "TOKEN" | base64 -d**  so that it is correct. with username  and password.

[2019-08-14 10:25] bartmoc commented on #92
My token resolves to
`myemail:password`

[2019-08-14 10:25] palashkulsh commented on #92
then it seems correct. let me share the branch asap

[2019-08-14 10:26] palashkulsh commented on #92
also in the meantime can you please check if there is https in your supplied url in config.json

[2019-08-14 10:26] bartmoc commented on #92
[code]

[2019-08-14 10:27] bartmoc commented on #92
Yes, it contains https
[code]

[2019-08-14 10:35] palashkulsh commented on #92
cool.
can you please try
 npm -g i git+https://git@github.com/germanrcuriel/jira-cmd.git#debug

[2019-08-14 10:37] bartmoc commented on #92
[code]

[2019-08-14 10:43] bartmoc commented on #92
What authentication are you using? Maybe with jira cloud, basic auth is not permitted?

[2019-08-14 10:55] bartmoc commented on #92
I check via CURL that for some reasons basic auth doesn't work on my Jira instance and basic auth is deprecated in favour of OAuth... So unfortunately I won't be able to use this cli :( Anyway, thx for help.

[2019-08-14 11:00] palashkulsh commented on #92
that really sucks. Sorry brother.
Do you have any doc for oauth support, may be i can add that functionality in development pipeline of the project.
It will help other users of jira-cmd.

[2019-08-14 11:07] bartmoc commented on #92
No worries, thx for an effort.
Documentation for it here:
https://developer.atlassian.com/cloud/jira/platform/oauth-2-authorization-code-grants-3lo-for-apps/

[2019-08-14 11:09] palashkulsh commented on #92
thanks @bartmoc

[2019-08-14 11:15] #92 closed

[2019-08-14 11:57] bartmoc commented on #92
@palashkulsh  they are supporting api tokens -> quite simple
https://confluence.atlassian.com/cloud/api-tokens-938839638.html

[2019-08-14 12:05] bartmoc commented on #92
@palashkulsh  When I set this API token instead of password it works!

[2019-08-14 12:22] palashkulsh commented on #92
Oh i forgot to mention the auth token part. Really glad you are able to use the jira-cmd . Its really convenient.

[2019-08-14 12:24] bartmoc commented on #92
Adding this info to documentation would nice :)

[2019-08-14 12:26] palashkulsh opened #93 "Document usability of api token in authentication instead of password"
Document usability of api token in authentication instead of password

[2019-08-14 12:27] palashkulsh commented on #93
#92 for documentation.

[2019-08-14 12:28] palashkulsh commented on #92
thanks created issue for this.

[2019-10-16 10:28] Adrenocrom opened #97 "jira show <issuse> exception if reporter is not set"
in describe.js: 69

if reporter is undefined an exception is thrown,
when displayName is readed.

[2019-10-16 11:22] #97 closed

[2019-10-16 11:23] palashkulsh commented on #97
thanks @Adrenocrom , i have pushed the changes. can you please verify

[2019-10-16 11:26] palashkulsh commented on #72
@HeadFox did you get a chance to look into it?

[2019-10-16 12:44] Adrenocrom commented on #97
Yes you fixed is, could you please publish to npm?

[2019-10-16 16:56] palashkulsh commented on #97
unfortunately @germanrcuriel is a bit busy these days and I dont have access to publishing on git for this package.

if you want you can install it by
npm i -g germanrcuriel/jira-cmd

[2019-10-28 14:19] HeadFox commented on #72
Hey !! Sorry I was busy these days !
I tried again and it seems to work now ! Maybe the problem came from yarn itself
@palashkulsh

[2019-10-28 14:33] palashkulsh commented on #72
no problem @HeadFox , glad it works now : )

[2019-10-28 14:33] #72 closed

[2019-12-06 16:48] SteveDonie opened #99 "If jira cloud does not support subtasks, shows an error"
I'm working with an older jira cloud project that tracks issues for an open-source project (so maybe isn't getting latest jira software because on a free plan?) Anyway, when I run `jira show CORE-1110` I get an error:
[code]
I changed line 75 of cmd-jira/lib/jira/decsribe.js to this in my local install:
[code]
and that fixed it. If I have time later today I'll submit a PR.

[2019-12-07 05:38] #99 closed

[2019-12-08 11:39] vhladiienko opened #102 "NODE_TLS_REJECT_UNAUTHORIZED is set to 0 by default"
https://github.com/germanrcuriel/jira-cmd/blob/8353dfdd2ae86757135e9985aabd38d66810186f/lib/config.js#L6

I don't think this should be here at all. A better idea would be to enable TLS check by default and let people disable it manually in a config file of sorts or inform them they should add their CA for self-signed certificates using NODE_EXTRA_CA_CERTS variable.

I understand some are [having i

[2019-12-08 13:23] palashkulsh commented on #102
Very valid point. Let me evaluate it and get back to you by thursday.

On Sun, Dec 8, 2019, 5:09 PM Vitalii Hladiienko <notifications@github.com>
wrote:

[2019-12-11 17:26] #102 closed

[2019-12-11 17:27] palashkulsh commented on #102
have added optional support of NODE_TLS_REJECT_UNAUTHORIZED by passing in auth
[code]

[2019-12-20 10:17] germanrcuriel commented on #84
Sorry for the delay. Published 0.8.1

[2019-12-20 10:17] #84 closed

[2020-02-10 16:05] hungvietdo opened #104 "Should eliminate this"
[code]
https://github.com/germanrcuriel/jira-cmd/blob/7f4127efbe3ed92a4bab470985e76f49ea0f5822/bin/jira.js#L217

[2020-02-10 16:49] palashkulsh commented on #104
or should it rather be
`user = config.user_alias[user] ||  user; `  ?

[2020-03-19 19:15] #104 closed

[2020-03-25 10:16] prath-devops opened #107 "TypeError: Cannot read property 'join' of undefined"
.npm-global/lib/node_modules/cmd-jira/lib/jira/describe.js:48
            return console.log(res.body.errorMessages.join('\n'));

Please change
describe.js:48
            return console.log(res.body.errorMessages.join('\n'));
to
            return console.log((res.body.errorMessages || [res.error]).join('\n'));

[2020-03-25 18:02] #107 closed

[2020-03-30 08:04] #93 closed

[2020-03-30 13:35] germanrcuriel opened #111 "Transfer ownership"
Hello @palashkulsh

As you were maintaining everything in this project I think is fair I transfer the repository ownership to you. The only thing I need you to do, if you want to, is to rename or delete your fork so I can transfer the repository :)

[2020-04-01 07:11] #111 closed

[2020-04-25 17:29] palashkulsh opened #112 "functionality to input new jira template from cli"
functionality to input new jira template by displaying available fields and their internal names. Need to show mandatory fields by following it with **

[2020-04-25 17:33] palashkulsh opened #113 "make gif of login process"

[2020-06-26 06:59] palashkulsh opened #115 "removing data dump being printed at the end of jira output"

[2020-06-26 07:44] palashkulsh opened #116 "in sprint listing dont show all sprints, show only last 4 sprints"

[2020-06-26 07:45] #115 closed

[2020-06-26 07:46] #116 closed

[2020-07-28 05:17] manish-makwana opened #117 "401 error when listing issues"
# Expected
- setup with `jira`
- able to view active issues with `jira ls`.

# Actual
- setup with `jira` is successful (entering site address/username/password)
- the following error is received when running `jira ls` (both powershell and cmd). I have at least 8 issues assigned to me in Jira.

[code]

# System info
- Windows 10 pro
- jira-cmd vv0.5.4
- npm v6.14.6

# Further research
From some go

[2020-07-28 05:28] palashkulsh commented on #117
@manish-makwana can you please try running jira jql "assignee=currentUser()"
If this runs we can check the default jira ls configuration otherwise we will look into it from auth angle.

[2020-07-28 22:18] #117 closed

[2020-07-28 23:58] manish-makwana opened #118 "feature request: editing a text field opens the existing data in a text editor buffer"
Currently, when I edit a field (such as the description) anything I write overwrites the existing data. If I need to add multiline text or change the existing data I need to open the issue in a web browser to make these changes.

It would be great if the existing text is opened in a text editor (nano, vim etc), similar to amending a git commit message, so I can append new text etc and save to writ

[2020-07-29 01:31] manish-makwana opened #119 "feature request: create command returns feedback"
After running `jira create <parameters>`, no feedback is returned to the user - whether the creation was successful, or what the issue number is if so.

Ideally, the user should get either an error code or the issue number, so they may further edit or assign the issue without having to run `jira ls` again and find the new issue.

(I have had jira-cmd accept a create statement but not actually crea

[2020-07-29 01:39] manish-makwana opened #120 "feature request: list issues assigned to a particular user, or unassigned, or in backlog"
Currently, it is possible to list all issues assigned to oneself or list all issues in a sprint. However, there are many more issues that one cannot view from jira-cmd without searching such as:
- unassigned issues
- assigned to other users
- in backlog and not in a sprint.

One approach could be to have a function that accepts two parameters, and filters all issues based on that:
1. Property name

[2020-07-29 17:31] palashkulsh opened #121 "warning about setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to 0."
BTW, still getting the warning about setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to 0. Anything I can do to suppress or fix this? I tried setting it to 1 in powershell:

[code]

But the warning still shows up when running `jira ls` etc.

[code]

_Originally posted by @manish-makwana in https://github.com/palashkulsh/jira-cmd/issues/117#issuecomment-665328601_

[2020-07-29 21:41] #120 closed

[2020-07-29 21:57] #119 closed

[2020-07-29 23:04] manish-makwana opened #122 "Can't move issues to sprint"
# Expected
Running `jira edit doc-62 "sprint::103"` will move the issue into sprint with ID 103.

# Actual
Command fails with lots of debugging info and error text "Number value expected as the Sprint id.".

# Troubleshooting
- I've checked the docs and examined the custom field used for my jira instance - "customfield_10020". Updated config.json accordingly:
[code]
- tried interactively running j

[2020-07-30 05:02] palashkulsh commented on #119
@manish-makwana I just checked editing a sprint for an issue and it worked. Can you please try following things

- try installing jira-cmd latest if its a bit old (npm install -g jira-cmd) . From what i can remember, this issue was in older versions of jira cmd.

- try to see output if issues in a sprint by using command
`jira jql "cf[10007] = 23 and assignee=currentUser()"` .and check if it shows

[2020-07-30 05:55] #122 closed

[2020-07-30 06:00] palashkulsh opened #123 "add FAQ on steps to setup sprint editiing functionality."
-facepalm- got it working - __schema was still using "customfield_10007". changing it to "customfield_10020" allowed the command to run!!!

`Issue edited successfully!`

- [x]  Verified on the web interface!

Thanks so much!!

So is it possible for me to move an item out of the sprint and back into the backlog?

_Originally posted by @manish-makwana in https://github.com/palashkulsh/jira-cmd/issue

[2020-07-31 00:57] manish-makwana opened #124 "TypeError when creating new issue"
# Expected
Able to create a new issue with `jira new`, either interactively or specifying all options.

# Actual
TypeError with the following stack trace:
[code]

# Troubleshooting
- wrapped summary and description values in double quotes
- tried creating the issue either interactively or by specifying everything as parameters (project, summary, description, type).

[2020-07-31 02:39] manish-makwana opened #125 "feature request: moving issues between epics?"
Is is possible to move issues between epics? I checked the [JSON API for my endpoint](https://your__jira__endpoint/rest/api/2/issue/JRA-546/editmeta), and don't see any references to an 'epic' key.

Some googling suggests this isn't possible for nextgen projects:
- https://community.atlassian.com/t5/Jira-questions/How-to-add-issue-to-Epic-via-API/qaq-p/1063743
- https://confluence.atlassian.com/ji

[2020-09-11 10:47] xavirodriguez opened #126 "Error just after install"
I just installed the latest version and I got this error while runing jira
C:\Windows\system32>jira
Error: ENOENT: no such file or directory, mkdir 'H:\.jira\'
    at Object.mkdirSync (fs.js:914:3)
    at Object.setConfig (C:\Users\myuser\AppData\Roaming\nvm\v12.18.2\node_modules\cmd-jira\lib\auth.js:66:14)
    at C:\Users\myuser\AppData\Roaming\nvm\v12.18.2\node_modules\cmd-jira\bin\jira.js:415:1

[2020-09-14 05:01] #126 closed

[2020-09-14 05:01] #124 closed

[2020-09-14 05:02] #125 closed

[2021-06-01 08:24] palashkulsh opened #127 "assigning issue with name in cli was breaking but working for alias"

[2021-06-01 08:25] #127 closed

[2021-07-07 11:07] sirnacnud opened #128 "version command line option reports wrong version"
Running `jira --version` returns `v0.5.4`. Looking over the code, it just seems to be hard coded to this value.

[2021-07-08 04:38] #128 closed

[2021-07-08 04:39] #118 closed

[2022-08-04 08:59] angelod1as opened #133 "Jira config returns error"
Running `jira config` for the first time returns:

[code]